@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

body {
  font-size: 24px;
  align-items: center;
  min-height: 100vh;
  background: hsl(185deg, 41%, 84%);
}
@media (max-width: 730px) {
  body {
    font-size: clamp(19px, 5vw, 24px);
  }
}

main {
  width: 100%;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.pad-2 {
  padding: 0.83em;
}

.pad-3 {
  padding: 1.25em;
}

.pad-1 {
  padding: 0.625em;
}

.pad-4 {
  padding: 2.65em;
}

.grid {
  display: grid;
}

.sb {
  justify-content: space-between;
}

.gap-5 {
  gap: 48px;
}

.rad-1 {
  border-radius: 1.1em;
  overflow: hidden;
}

p {
  color: hsl(184deg, 14%, 56%);
}

input[type=text] {
  width: 100%;
  height: 2em;
  font-size: 24px;
  background: hsl(189deg, 41%, 97%);
  border: none;
  border-radius: 0.3em;
  text-align: right;
  padding: 0.75em;
  color: hsl(186deg, 14%, 43%);
}
input[type=text]:focus {
  outline: 2px solid hsl(172deg, 67%, 45%);
}
input[type=text]#tfBill {
  background-image: url(./../assets/images/icon-dollar.svg);
  background-repeat: no-repeat;
  background-position: 0.75em;
}
input[type=text]#tfNumOfPeople {
  background-image: url(./../assets/images/icon-person.svg);
  background-repeat: no-repeat;
  background-position: 0.75em;
}

button {
  font-size: 1em;
  padding: 0.2em 0.75em;
  background-color: hsl(183deg, 100%, 15%);
  color: hsl(189deg, 41%, 97%);
  border-radius: 0.2em;
  border: none;
  transition: all 0.3s;
}
button:hover {
  cursor: pointer;
  background-color: #a1e7df;
  color: black;
}

.rs {
  flex-wrap: wrap;
}

main .container {
  width: min(100%, 920px);
  margin: 0 auto;
}
main .container .title {
  color: hsl(183deg, 100%, 15%);
  text-align: center;
  margin-bottom: 2em;
}
main .container .calculator {
  justify-content: space-between;
  background-color: white;
}
main .container .calculator > * {
  border-radius: 1em;
  flex-grow: 0;
}
@media (max-width: 730px) {
  main .container .calculator > * {
    flex-grow: 1;
  }
}
main .container .inputs {
  flex-basis: min(380px, 45%);
}
main .container .inputs section h6 {
  color: hsl(186deg, 14%, 43%);
  margin-bottom: 0.5em;
}
main .container .inputs .grid {
  grid-template-columns: repeat(3, 1fr);
  gap: 0.4em;
}
main .container .inputs .grid input[type=text] {
  padding: 0.2em 0.3em;
  text-align: center;
  font-size: 0.9em;
}
main .container .inputs .numOfPeople .top .validate {
  color: red;
  transition: opacity 0.2s;
  opacity: 0;
}
main .container .inputs .numOfPeople .top .validate.nv {
  opacity: 1;
}
main .container .inputs .numOfPeople input {
  transition: outline 0.2s;
}
main .container .inputs .numOfPeople input.nv {
  outline: 2px solid red;
  color: red;
}
@media (max-width: 730px) {
  main .container .inputs {
    margin-bottom: 1em;
  }
}
main .container .result {
  flex-basis: min(415px, 55%);
  background: hsl(183deg, 100%, 15%);
  color: hsl(189deg, 41%, 97%);
  font-size: 0.6em;
  gap: 1em;
  align-content: start;
}
main .container .result .total {
  font-size: 3em;
  color: hsl(172deg, 67%, 45%);
}
main .container .result .reset {
  margin-top: 9em;
}
main .container .result .reset .res-btn {
  color: black;
  background-color: #26c2ad;
  width: 100%;
  font-size: 1.3em;
  padding: 0.5em 0;
  border-radius: 0.3em;
}
main .container .result .reset .res-btn:hover {
  background-color: #a1e7df;
}
@media (max-width: 730px) {
  main .container .result .reset {
    margin-top: 3em;
  }
}/*# sourceMappingURL=main.css.map */